@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");
/* resetear margenes */
* {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 80%;
    height: 80%;
  }
  .header {
    width: 80%;
    height: 80%;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    width: 90%;
    height: 90%;
  }
  .header {
    width: 90%;
    height: 90%;
  }
}

@media (max-width: 768px) {
  .logo {
    display: none;
  }
}

.logo {
  width: 150px;
  margin-right: 12px;
}

.bck-footer{
  background-color: #909298;
}

.tamañoImg{
  width: 750px;
  height: 600px;
}