@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");
/* resetear margenes */
* {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 80%;
    height: 80%;
  }
  .header {
    width: 80%;
    height: 80%;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    width: 90%;
    height: 90%;
  }
  .header {
    width: 90%;
    height: 90%;
  }
}

@media (max-width: 768px) {
  .logo {
    display: none;
  }
}

.logo {
  width: 150px;
  margin-right: 12px;
}

.bck-footer{
  background-color: hsl(227, 8%, 77%);
}

.bck-navbar{
  background-color: #343a40c2;
}

.backgroundGray{
  background-color: lightgray;
}

.backgroundColor{
  background-color: rgb(255, 248, 248);
}

.tamañoImg{
  width: 750px;
  height: 600px;
}

.tituloInfo{
  margin-top: 1rem;
  margin-bottom: 1rem; 
  text-align: center; 
  color: #c69214;
}

.textoCentrado{
  text-align: center;
  box-align: center;
}

.textoSubrayado{
  text-decoration: underline;
}

.divisor{
margin: 5rem 0;
}

.icon{
  font-size: 2rem;
  margin: 0rem;
  padding: 0rem;
}