.ulFooter{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: baseline;
    list-style-type: none;
    margin-bottom: 30px;
    }
      .liFooter{
        padding: 30px;
        font-size: 28px;
        font-weight: bold;
           &__link{
            color: #2e2e2e;
          }
}

.bck-footer{
  background-color: #909298;
  color: #fff;
}